@tailwind base;
  @tailwind components;
  @tailwind utilities;
/* globals.css */

.body{
  transform: translateY(-100px);
  width: 100%;

  background: radial-gradient(circle, rgba(147,6,239,0.14058123249299714) 6%, rgba(172,29,223,0.05374649859943981) 28%, rgba(179,36,219,0.10696778711484589) 35%, rgba(188,45,213,0.034138655462184864) 42%, rgba(167,25,226,0.11817226890756305) 62%, rgba(255,107,171,0) 81%);

  background-size: 100%;
  background-position: center;

  padding: 130px 0 0px;
}

.container{
  max-width: 2500px;
  width: 90%;
  margin: auto;
}

.flupic{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px auto;
  
}

@keyframes dropBounce {
  0% {
    transform: translateY(-500px);
    opacity: 0;
  }
  15%{
      transform: translateY(-400px);
      opacity: 0.1;
  }
  30%{
      transform: translateY(-250px);
      opacity: 0.5;
  }
  60% {
    transform: translateY(0);
    opacity: 1;
    transform: scaleY(0.8);
  }
  80% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes moveLeftRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0);
  }
}

.flupic img {
  width: 180px;
  height: auto;
  cursor: pointer;
}
.flupic .image-container {
  position: relative;
  display: inline-block;
  animation: dropBounce 2s ease-out, 
  moveLeftRight 3s ease-in-out infinite;
  animation-delay: 0s, 2s;

  .hover-text {
      position: absolute;
      top: 10%;
      left: 100%; 
      z-index: -1;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 20px;
      background: linear-gradient(45deg, pink, purple);
      padding: 10px 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 20, 147, 0.5), 0 0 30px rgba(138, 43, 226, 0.5);
      visibility: hidden;
      opacity: 0;
      transition: visibility 0s, opacity 0.5s ease, transform 0.5s ease;
  }
}

.flupic .image-container:hover .hover-text {
  visibility: visible;
  opacity: 1;
}
.flupic .image-container:hover .hover-text {
  transform: translate(-50%, -50%) scale(1.1);
}

.flupic .info{
  text-align: center;
  width: 60%;
  h2 {
      font-size: 3.2rem;
      font-weight: 900;
      text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.2);
  }
  p{
      font-size: 1.4rem;
      font-weight: 500;
      color: white;
  }
}

.counter{
  margin: 100px auto;
}

.services{
  margin: 40px 0;
  text-align: center;
  h3 {
      font-size: 3.2rem;
      font-weight: bold;
      text-align: center;
  } 

  .cards{
      width: 100%;
  }
}

.team-flupic{

  .title{
      font-size: 3rem;
      font-weight: 900;
      text-align: center;
      
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.1);
  }

  .team{
      width: 90%;
      margin: auto;
      margin-top: 20px;
      display: flex;
      align-items: center;
      .ceo{
          width: 350px;
          min-width: 350px;
          height: 550px;
          margin-right: 20px;
      }
      
      .developers{

          position: relative;
          overflow-x: auto;

          .scroll{
              display: flex;
              width: 100%;
              gap: 10px;
              overflow-x: auto; 
              mask-image: linear-gradient(to right, white 85%, transparent 100%);
          }

          .employe-card{
              min-width: 300px; 
              height: 500px; 
              margin-bottom: 10px;
          }

          .scroll-btn {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              color: var(--accent);
              font-size: 2rem;
              border-radius: 50%;
              cursor: pointer;
              z-index: 10;
            }
            .scroll-btn:hover{
              color: #ff6bab;
            }
            
            .scroll-btn.left {
              left: 0;
            }
            
            .scroll-btn.right {
              right: 0;
            }

      }
  }
  
}



@media (max-width: 770px) {
  .flupic .info{
      width: 100%;
  }

  .flupic .image-container {
      display: none;
  }

}


@media (max-width: 1125px) {

  .team-flupic{
      .ceo{
          display: none;
      }
      .team .developers .scroll{
                  mask-image: linear-gradient(to left, transparent 0%, white 15%, white 85%, transparent 100%);
                  gap:px;
                
              }
  }

}

@media (min-width: 1125px) {

  .team-flupic .team{
          .employe-card:first-child {
              display: none;
          }
  }
}
